{% load static %}

<link rel="stylesheet" type="text/css" 
  href="{% static 'events/style.css' %}">

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<h1> {{ person.first_name }} {{person.last_name}} </h1>

<p><strong> Person id: </strong> {{ person.id }}</p>
<p><strong> First Name: </strong> {{ person.first_name }}</p>
<p><strong> Last Name: </strong> {{ person.last_name }}</p>

<p><strong> Relations: </strong> 
  {% for relation in person.relations.all %}
    <a href= "{% url 'event_recorder:relation-detail' relation.id %}">
      {{relation.name}}
    </a>
    ,  
  {% endfor %}
</p>

<p><strong>Approx Age: </strong> 
  {% if person.approx_DOB %}
    {{ person.getAge }}
  {% endif %}
</p>

<p><strong>Gender: </strong> 
  {% if person.gender %}
    {{ person.gender }}
  {% endif %}
</p>

<h2> Associated Events </h2>
<table id='person_associated_events_table'>
  <tr>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>
      <a href="{% url 'event_recorder:categories-index' %}">
          Categories</a>
    </th>
    <th>People</td>
    <th>Overall Rating</td>
  </tr>
  {% for event in person.event_set.all %}
    <tr>
      <td><a href="{% url 'event_recorder:event-detail' event.id %}">
        {{ event.description }}</a></td>
      <td> {{ event.start_time }}</td>
      {% if event.end_time > now %}
        <td> Present </td>
      {% else %}
        <td> {{ event.end_time }}</td>
      {% endif %}
      <td> 
        {% for category in event.categories.all %}
            <a href="{% url 'event_recorder:category-detail' category.id %}">
                <p> {{ category.name }} </p>
            </a>
        {% endfor %}
      </td>
      <td>
        {% for person in event.people.all %}
          <p> {{ person.first_name }} {{person.last_name }} </p>
        {% endfor %}
      </td>
      <td>
        {% if event.value %}
          <p> {{ event.value.overall_rating }} </p>
        {% endif %}
      </td>

    </tr>
  {% endfor %}
</table>




