{% load static %}

<link rel="stylesheet" type="text/css" 
  href="{% static 'events/style.css' %}">

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<h1> {{ relation.name }} </h1>

<a href="{% url 'event_recorder:relations-index' %}"> All Relations </a>
<p></p>
<a href="{% url 'event_recorder:relation-update' relation.id %}"> Update Relation </a>
<p></p>
<a href="{% url 'event_recorder:relation-delete' relation.id %}"> Delete Relation </a>
<p></p>

<p><strong> Relation id: </strong> {{ relation.id }}</p>
<p><strong> Name: </strong> {{ relation.name }}</p>

<h2> Associated People </h2>
<table id='relation_associated_people_table'>
  <tr>
    <th>Name</th>
    <th>  
      <a href="{% url 'event_recorder:relations-index' %}">
        Relations
      </a>
    </th>
    <th>Approx Age</th>
    <th>Gender</th>
  </tr>
  {% for person in relation.person_set.all %}
    <tr>
      <td>
        <a href=
          "{% url 'event_recorder:person-detail' person.id %}">
          {{ person.first_name }} {{person.last_name}}
        </a>
      </td>
      <td> 
        {% for relation in person.relations.all %}
          <p>
            <a href=
              "{% url 'event_recorder:relation-detail' relation.id %}">
              {{ relation.name }}
            </a>
          </p>
        {% endfor %}
      </td>
      <td>
        {% if person.approx_DOB %}
          {{ person.getAge  }}
        {% endif %}
      </td>
      <td>
        {% if person.gender %}
          {{ person.gender }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
