{% load static %}

<link rel="stylesheet" type="text/css" 
  href="{% static 'events/style.css' %}">

<h1> Events </h1>

{% if events_list %}
  <table id='events_index_table'>
    <tr>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>
        <a href="{% url 'event_recorder:categories-index' %}">
          Categories
        </a>
      </th>
      <th>
        <a href="{% url 'event_recorder:people-index' %}">
          People
        </a>
      </th>
      <th>Overall Rating (/10)</td>
    </tr>
    {% for event in events_list %}
      <tr>
        <td><a href="{% url 'event_recorder:event-detail' event.id %}">
          {{ event.description }}</a></td>
        <td> {{ event.start_time }}</td>
        {% if event.end_time > now %}
          <td> Present </td>
        {% else %}
          <td> {{ event.end_time }}</td>
        {% endif %}
        <td> 
          {% for category in event.categories.all %}
            <a href="{% url 'event_recorder:category-detail' category.id %}">
                <p> {{ category.name }} </p>
            </a>
          {% endfor %}
        </td>
        <td>
          {% for person in event.people.all %}
            <p> {{ person.first_name }} {{person.last_name }} </p>
          {% endfor %}
        </td>
        <td>
          {% if event.value %}
            <p> {{ event.value.overall_rating }} </p>
          {% endif %}

          <p> {{ overall_rating }} </p>
        </td>

      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No events are available.</p>
{% endif %}
