{% load static %}

<link rel="stylesheet" type="text/css" 
  href="{% static 'events/style.css' %}">

<h1> Events </h1>

<a href="{% url 'event_recorder:event-create' %}"> Add New </a>
<p></p>

{% if events_list %}
  <table id='events_index_table'>
    <tr>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>
        <a href="{% url 'event_recorder:categories-index' %}">
          Categories
        </a>
      </th>
      <th>
        <a href="{% url 'event_recorder:people-index' %}">
          People
        </a>
      </th>
      <th>
        <a href="{% url 'event_recorder:ratings-index' %}">
          Overall Rating (/10)
        </a>
      </th>
    </tr>
    {% for event in events_list %}
      <tr>
        <td><a href="{% url 'event_recorder:event-detail' event.id %}">
          {{ event.description }}</a></td>
        <td> {{ event.start_time }}</td>
        <td>
          {% if event.current_event %}
            <center>Present</center> 
          {% else %}
            {{ event.end_time }}
          {% endif %}
        </td>
        <td> 
          {% for category in event.categories.all %}
            <a href="{% url 'event_recorder:category-detail' category.id %}">
              <p> {{ category.name }} </p>
            </a>
          {% endfor %}
        </td>
        <td>
          {% for person in event.people.all %}
            <a href="{% url 'event_recorder:person-detail' person.id %}">
              <p> {{ person.first_name }} {{person.last_name}} </p>
            </a>
          {% endfor %}
        </td>
        <td>
          {% if event.rating %}
            <p> {{ event.rating.overall_rating }} </p>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No events are available.</p>
{% endif %}
